@import url("https://fonts.googleapis.com/css2?family=Poiret+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

#welcome {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}

.welcome-background-img {
  background-image: url("images/backgroundHome.jpg");
  background-repeat: no-repeat;
  z-index: -1;
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  min-width: 100vw;
  min-height: 300vh;
}

.background-overlay {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.4;
  position: fixed;
  z-index: 0;
}

.my-header {
  width: 100vw;
  padding: 10px 0;
  font-family: "Poiret One", cursive;
  font-weight: bold;
  z-index: 100;
}

.logo-name {
  width: 100%;
  font-size: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-left: 2rem;
}

.name-letter {
  font-size: 1.5rem;
  display: block;
  align-self: baseline;
}

.name-letter-accent {
  color: rgb(255, 196, 0);
  font-size: 3rem;
  text-shadow: 2px 2px 4px black;
  align-self: baseline;
}

.letter-style {
  color: rgb(255, 196, 0);
  text-shadow: 2px 2px 4px black;
}

.header-white {
  background-color: white;
  color: black;
  text-align: center;
}

.header-black {
  background-color: rgb(0, 0, 0);
  color: white;
  transition: all 2s ease-in-out;
}

.welcome-wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.letter-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Poiret One", cursive;
  font-size: 13vw;
  font-weight: 500;
  text-shadow: 1px 1px 3px black;
}

.letter-container-after {
  text-shadow: none;
  padding: 2rem;
  background-color: rgba(0, 0, 0, 0.85);
  box-shadow: 0 0 8px rgb(255, 196, 0);
  transition: all ease-in-out 1.5s;
}

.letter {
  opacity: 0;
  transform: translateX(50vw);
}

.pointer {
  color: white;
  opacity: 1;
  margin-top: 1rem;
}

.golden {
  color: rgb(255, 196, 0);
}

#about {
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
}

.about-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem 1rem;
}

.about-img-wrapper {
  background-color: black;
  padding: 2rem;
  align-self: flex-start;
}

.about-paragraph {
  align-self: center;
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
  font-size: 1.5rem;
  padding: 1rem;
  border-right: solid 1px rgb(255, 196, 0);
  border-bottom: solid 1px rgb(255, 196, 0);
}

.my-picture {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 0 auto;
}

.hi-letters {
  color: rgb(255, 196, 0);
  font-size: 2rem;
}

#work {
  background-color: whitesmoke;
}
#work h1 {
  padding: 1rem;
  font-family: "Poiret One", cursive;
  font-size: 2rem;
  text-align: center;
  text-shadow: 1px 1px 3px rgb(150, 150, 150);
}
#work .letter-style {
  font-size: 2.5rem;
}

#contact {
  background: url(images/background-contact-3.jpg);
  padding: 2rem;
  background-size: cover;
  height: 100%;
}

.letter-style {
  font-size: 2.5rem;
}

.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  text-shadow: 1px 1px 3px gray;
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 8px rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
}

.contact-1 {
  text-align: center;
  font-family: "Quicksand", sans-serif;
  font-size: 2rem;
  font-weight: normal;
}

.contact-2 {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.input-box {
  display: flex;
  flex-direction: column;
}

label {
  font-family: "Quicksand", sans-serif;
  text-shadow: 1px 0 black;
  font-size: 1.2rem;
  margin-bottom: 0.2rem;
}

input {
  padding: 0.1rem 0.5rem;
  border-radius: 0.2rem;
  margin-bottom: 1rem;
  font-size: 1rem;
  font-weight: bold;
  font-family: "Quicksand", sans-serif;
  outline: none;
  transition: 0.2s ease-in-out;
}
input:hover {
  box-shadow: 0 0 10px rgb(255, 165, 0);
}

textarea {
  height: 15vh;
  padding: 0.1rem 0.5rem;
  border-radius: 0.2rem;
  margin-bottom: 1rem;
  font-size: 1rem;
  font-weight: bold;
  font-family: "Quicksand", sans-serif;
  resize: none;
  outline: none;
  transition: 0.2s ease-in-out;
}
textarea:hover {
  box-shadow: 0 0 10px rgb(255, 165, 0);
}

button {
  background-color: orange;
  text-shadow: 1px 0 rgb(202, 131, 0);
  width: 100%;
  padding: 0.4rem;
  font-family: "Quicksand", sans-serif;
  font-size: 1.2rem;
  border: none;
  border-radius: 0.5rem;
  color: white;
  transition: all 0.2s ease-in-out;
}
button:hover {
  box-shadow: 0 0 10px rgb(255, 196, 0);
  box-shadow: none;
  color: black;
}

#footer {
  width: 100%;
  background-color: black;
  color: white;
  font-family: "Quicksand", sans-serif;
  font-size: 0.8rem;
  text-align: center;
  padding: 1rem 0;
}

@media screen and (orientation: landscape) {
  .letter-container {
    flex-direction: row;
  }
}
@media screen and (min-width: 768px) {
  .letter-container {
    flex-direction: row;
  }
}
@media screen and (min-width: 600px) {
  .about-wrapper {
    flex-direction: row;
    padding: 2rem;
  }
  .about-img-wrapper {
    padding: 0;
  }
  .my-picture {
    margin: 0 1rem;
  }
  .about-paragraph {
    padding-top: 0;
    margin: 0;
  }
  .contact-container {
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
  }
  .contact-1 {
    margin-right: 3rem;
  }
  .contact-2 {
    margin-top: 0;
  }
}
@media screen and (min-width: 1200px) {
  .about-wrapper {
    width: 80%;
    justify-content: center;
  }
}/*# sourceMappingURL=style.css.map */